          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
              <table class="table todo_entries">
                <thead>
                  <tr>
                    <td>
                      <!-- Category -->
                      <ul class="nav nav-pills left">
                        <li class="dropdown active span8">
                          <a class="dropdown-toggle" id="inp_impact" data-toggle="dropdown">
                            <i class="icon icon-envelope icon-white"></i> <span id="text"></span><span class="caret"></span>
                          </a>
                          <ul ID="divNewNotifications" class="dropdown-menu">
                            <li><a>Food</a></li>
                            <li><a>Movies</a></li>
                            <li><a>Books</a></li>
                            <li><a>Products</a></li>
                          </ul>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </thead>
              </table>
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
