<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
  <h5 class="navbar-left">This is Smartest Todo List</h5>
    <div class="navbar-header navbar-right">
    <form action="/logout" method="POST" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <button type="submit" class="btn btn-default">Logout</button>
        </div>
      </form>
      <h1 class="navbar-brand navbar-right" href="#">
        What would you like  <%= user_name %>?
      </h1>
      <i class="hidden" id="user-id"><%= user_id %></i>
    </div>
  </div>
</nav>
