<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <h3 class="navbar-left">Smartest Todo List Ever</h3>
    <div class="navbar-header navbar-right">
      <form action="/logout" method="POST" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <button type="submit" class="btn btn-default logout">Logout</button>
          <a class="btn edit-profile" href="/profile">Edit Profile</a>
        </div>
      </form>
      <h4 class=" navbar-right">
         Things for <%= user_name %> todo
      </h4>
      <i class="hidden" id="user-id"><%= user_id %></i>
    </div>
  </div>
</nav>
