<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <table class="todo_search col-xs-12 col-sm-8 col-sm-offset-2">
        <thead class="todo_search-reveal">
          <tr>
          <!-- Displays REsults -->
            <th></th>
            <!-- <th id="todo-query"></th> -->
            <th></th>
            <th id="search-item"></th>
            <th> <small>from</small></th>
            <th id="api-source"></th>
            <th></th>
            <th id="todo-item"></th>

            <th><ul class="nav nav-pills left">
              <li class="dropdown active span8">
                <a class="dropdown-toggle" id="inp_impact" data-toggle="dropdown">
                  <i class="icon icon-envelope icon-white"></i> <span id="category">category</span><span class="caret"></span>
                </a>
                <ul ID="divNewNotifications" class="dropdown-menu">
                  <li><a>Food</a></li>
                  <li><a>Movies</a></li>
                  <li><a>Books</a></li>
                  <li><a>Products</a></li>
                </ul>
              </li>
            </ul></th>
            <th><form action="/save" method="post">
                <button action="/save" class="btn btn-default" value="Submit" type="submit">save</button>
              </form>
            </th>
          </tr>
        </thead>
                <form action="/search" method="POST">
          <div class="container">
            <div class="row">
              <div class="input-group col-xs-12 col-sm-6 col-sm-offset-3 ">
                <input id="search" type="text" name="search" autofocus="" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-default" value="Submit" type="submit">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </form>
      </table>
    </div>
  </div>
</div>
