<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <%- include('partials/_head')%>
  </head>
  <body>
    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
    <h1>Hello World!</h1>
      <form action="/search" method="POST" style="margin:150px;">
        <label for="search">Enter a todo item.</label>
        <input id="search" type="text" name="search" placeholder="Any item..." style="width: 300px">
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
