<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
    <form action="/search" method="POST" style="margin:150px;">
      <label for="search">Enter a todo item.</label>
      <input id="search" type="text" name="search" placeholder="Any item..." style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
