<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <%- include('partials/_head')%>
  </head>
  <body>
  <%- include('partials/_nav')%>
    <div class="container-fluid">
      <main>
        <form action="/search" method="POST">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
              <div class="input-group">
                <input id="search" type="text" name="search"  class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" value="Submit" type="submit">Go!</button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Main Content</th>
                    <th>
                      <!-- Category -->
                      <ul class="nav nav-pills left">
                        <li class="dropdown active span8">
                          <a class="dropdown-toggle" id="inp_impact" data-toggle="dropdown">
                            <i class="icon icon-envelope icon-white"></i> <span id="text">Suggestion</span><span class="caret"></span>
                          </a>
                          <ul ID="divNewNotifications" class="dropdown-menu">
                            <li><a>Food</a></li>
                            <li><a>Movies</a></li>
                            <li><a>Books</a></li>
                            <li><a>Products</a></li>
                          </ul>
                        </li>
                      </ul>
                    </th>
                  </tr>
                </thead>
              </table>
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </form>
      </main>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
