body {
  background-color: $brand-color;
}

form[action="/register"] {
  display: flex;
  flex-direction: column;
  input {
    width: 200px;
  }
}

.nav>li>a {
  padding: initial;
}

.nav-pills>li.active>a {
  color: initial;
  background-color: initial;
}
