td, th {
    padding: 0.8em;
}

.todo_search {
  margin-top: 20px;
  @extend .top-line;

  background-color:  darken($brand-orange, 16);
  @extend .shadow;
}

.todolist-main {
@extend .shadow;
}

.hovering {
  transition: 300ms;
  background-color:  $brand-blue;
}

.hovering:hover {
  transform: scale(1.08);
  transition: 300ms;
  background-color:  darken($brand-blue, 16);
  @extend .shadow;
}


.hovering:hover .todolist-main {
   filter: blur(5px);
}
.todolist-main{
  transition: 300ms;
  margin-top: 100px;
  margin-bottom: 100px;
}



.main-todo-header {
  @extend .top-line;
  background-color: $brand-orange;
}
