  h1, h2, h3, h4, h5, h6 {
    color: $brand-blue;
  }

tr {
  @extend .underline;
}

button.logout{
  transition: 300ms;
  border-radius: 3px;
  background-color: $brand-blue;
}

button.logout:hover {
  transition: 300ms;
  background-color: $brand-orange;
  @extend .scale;
  @extend .shadow;
}
