  h1, h2, h3, h4, h5, h6 {
    color: $brand-blue;
  }

tr {
  @extend .underline;
}

button.logout, button.save, .dropdown-toggle{
  transition: 300ms;
  border-radius: 3px;
  background-color: $brand-blue;
}

button.logout:hover, button.save:hover, .dropdown-toggle:hover {
  transition: 300ms;
  background-color: $brand-orange;
  @extend .scale;
  @extend .shadow;
}


.search-input {
  margin-top: 40px;
}

.edit-profile {
  transition: 300ms;
  background-color: $brand-blue;
}

.edit-profile:hover {
  transition: 300ms;
  background-color: $brand-orange;
  @extend .scale;
  @extend .shadow;
  z-index: 100;
}

/*. TODO implement the background blur on hover of row */
div.blur{
  position: fixed;
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1000;
}

.hovering:hover div.blur{
  position: fixed;
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 10;
}

