/* Feel free to sass it up in the partials,
or right here in the layout if partials scare you.
Feel free to add partials news if needed.*/
body {
  background-color: #e6e6e6;
}

td, th {
  padding: 0.8em;
}

.todo_search {
  background-color: #ffc966;
}

.todolist-main {
  background-color: #ccccff;
}

.navbar {
  border-radius: 0px;
}

h1 {
  color: #244751;
}
