/* Feel free to sass it up in the partials,
or right here in the layout if partials scare you.
Feel free to add partials news if needed.*/
body {
  background-color: orange;
}

form[action="/register"] {
  display: flex;
  flex-direction: column;
}

form[action="/register"] input {
  width: 200px;
}

h1 {
  color: #244751;
}
