/* Feel free to sass it up in the partials,
or right here in the layout if partials scare you.
Feel free to add partials news if needed.*/
.shadow, .navbar-inverse, .todo_search, .todolist-main, .hovering:hover, button.logout:hover, button.save:hover, .dropdown-toggle:hover, .edit-profile:hover {
  -webkit-box-shadow: 0px 4px 15px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 15px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 15px -3px rgba(0, 0, 0, 0.75);
}

.underline, tr {
  border-bottom: 1px solid #3a9fc0;
}

.top-line, .todo_search, .main-todo-header {
  border-top: 5px solid #3a9fc0;
}

.bottom-line {
  border-bottom: 5px solid #3a9fc0;
}

.scale, button.logout:hover, button.save:hover, .dropdown-toggle:hover, .edit-profile:hover {
  transform: scale(1.05);
}

body {
  background-color: ivory;
}

.navbar {
  border: none;
  -webkit-box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.75);
}

.navbar-inverse {
  border-radius: 0px;
  background-color: #235e71;
}

td, th {
  padding: 0.8em;
}

.todo_search {
  margin-top: 20px;
  background-color: #ffac14;
}

.hovering {
  transition: 300ms;
  background-color: #d4ebf2;
}

.hovering:hover {
  transform: scale(1.08);
  transition: 300ms;
  background-color: #96cddf;
}

.hovering:hover .todolist-main {
  filter: blur(5px);
}

.todolist-main {
  transition: 300ms;
  margin-top: 100px;
  margin-bottom: 100px;
}

.main-todo-header {
  background-color: #ffc966;
}

#search-item {
  background-color: #ffcb6b;
}

h1, h2, h3, h4, h5, h6 {
  color: #d4ebf2;
}

button.logout, button.save, .dropdown-toggle {
  transition: 300ms;
  border-radius: 3px;
  background-color: #d4ebf2;
}

button.logout:hover, button.save:hover, .dropdown-toggle:hover {
  transition: 300ms;
  background-color: #ffc966;
}

.search-input {
  margin-top: 40px;
}

.edit-profile {
  transition: 300ms;
  background-color: #d4ebf2;
}

.edit-profile:hover {
  transition: 300ms;
  background-color: #ffc966;
}
